.fc-event-container a.fc-event, .fc-event-container a:visited.fc-event, .fc-event-container a:hover.fc-event {
    color: #fff;
    text-decoration: none;
    padding-left: 1px;
    background: none;
    background-color: #3a87ad;
}